In [159]:
import pandas as pd
import numpy as np
from statistics import median
from sklearn.preprocessing import normalize, MinMaxScaler

In [48]:
df = pd.read_csv('communities.csv', names=[i for i in range(len(np.array(df).transpose()))])
df

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,8,?,?,Lakewoodcity,1,0.19,0.33,0.02,0.90,0.12,...,0.12,0.26,0.20,0.06,0.04,0.9,0.5,0.32,0.14,0.20
1,53,?,?,Tukwilacity,1,0.00,0.16,0.12,0.74,0.45,...,0.02,0.12,0.45,?,?,?,?,0.00,?,0.67
2,24,?,?,Aberdeentown,1,0.00,0.42,0.49,0.56,0.17,...,0.01,0.21,0.02,?,?,?,?,0.00,?,0.43
3,34,5,81440,Willingborotownship,1,0.04,0.77,1.00,0.08,0.12,...,0.02,0.39,0.28,?,?,?,?,0.00,?,0.12
4,42,95,6096,Bethlehemtownship,1,0.01,0.55,0.02,0.95,0.09,...,0.04,0.09,0.02,?,?,?,?,0.00,?,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989,12,?,?,TempleTerracecity,10,0.01,0.40,0.10,0.87,0.12,...,0.01,0.28,0.05,?,?,?,?,0.00,?,0.09
1990,6,?,?,Seasidecity,10,0.05,0.96,0.46,0.28,0.83,...,0.02,0.37,0.20,?,?,?,?,0.00,?,0.45
1991,9,9,80070,Waterburytown,10,0.16,0.37,0.25,0.69,0.04,...,0.08,0.32,0.18,0.08,0.06,0.78,0,0.91,0.28,0.23
1992,25,17,72600,Walthamcity,10,0.08,0.51,0.06,0.87,0.22,...,0.03,0.38,0.33,0.02,0.02,0.79,0,0.22,0.18,0.19
1993,6,?,?,Ontariocity,10,0.20,0.78,0.14,0.46,0.24,...,0.11,0.30,0.05,0.08,0.04,0.73,0.5,1.00,0.13,0.48

In [143]:
dfn = df.drop(columns=[0, 1, 2, 3, 4])
dfn.replace(to_replace='?', value=0, inplace=True)
dfn

,5,6,7,8,9,10,11,12,13,14,...,118,119,120,121,122,123,124,125,126,127
0,0.19,0.33,0.02,0.90,0.12,0.17,0.34,0.47,0.29,0.32,...,0.12,0.26,0.20,0.06,0.04,0.9,0.5,0.32,0.14,0.20
1,0.00,0.16,0.12,0.74,0.45,0.07,0.26,0.59,0.35,0.27,...,0.02,0.12,0.45,0,0,0,0,0.00,0,0.67
2,0.00,0.42,0.49,0.56,0.17,0.04,0.39,0.47,0.28,0.32,...,0.01,0.21,0.02,0,0,0,0,0.00,0,0.43
3,0.04,0.77,1.00,0.08,0.12,0.10,0.51,0.50,0.34,0.21,...,0.02,0.39,0.28,0,0,0,0,0.00,0,0.12
4,0.01,0.55,0.02,0.95,0.09,0.05,0.38,0.38,0.23,0.36,...,0.04,0.09,0.02,0,0,0,0,0.00,0,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989,0.01,0.40,0.10,0.87,0.12,0.16,0.43,0.51,0.35,0.30,...,0.01,0.28,0.05,0,0,0,0,0.00,0,0.09
1990,0.05,0.96,0.46,0.28,0.83,0.32,0.69,0.86,0.73,0.14,...,0.02,0.37,0.20,0,0,0,0,0.00,0,0.45
1991,0.16,0.37,0.25,0.69,0.04,0.25,0.35,0.50,0.31,0.54,...,0.08,0.32,0.18,0.08,0.06,0.78,0,0.91,0.28,0.23
1992,0.08,0.51,0.06,0.87,0.22,0.10,0.58,0.74,0.63,0.41,...,0.03,0.38,0.33,0.02,0.02,0.79,0,0.22,0.18,0.19
1993,0.20,0.78,0.14,0.46,0.24,0.77,0.50,0.62,0.40,0.17,...,0.11,0.30,0.05,0.08,0.04,0.73,0.5,1.00,0.13,0.48

In [170]:
norm1 = pd.DataFrame(normalize(dfn, axis=0))
print(norm1.head())

        0         1         2         3         4         5         6    \
0  0.030538  0.015037  0.001442  0.025441  0.010365  0.013923  0.016856
1  0.000000  0.007291  0.008652  0.020918  0.038867  0.005733  0.012890
2  0.000000  0.019138  0.035330  0.015830  0.014683  0.003276  0.019335
3  0.006429  0.035087  0.072102  0.002261  0.010365  0.008190  0.025285
4  0.001607  0.025062  0.001442  0.026854  0.007773  0.004095  0.018840

        7         8         9    ...       113       114       115       116  \
0  0.020465  0.017309  0.015595  ...  0.021094  0.018847  0.015977  0.012469
1  0.025691  0.020890  0.013158  ...  0.003516  0.008698  0.035949  0.000000
2  0.020465  0.016712  0.015595  ...  0.001758  0.015222  0.001598  0.000000
3  0.021772  0.020293  0.010234  ...  0.003516  0.028270  0.022368  0.000000
4  0.016546  0.013727  0.017544  ...  0.007031  0.006524  0.001598  0.000000

       117       118       119       120       121       122
0  0.01403  0.068979  0.046778  0.027774  0.030721  0.013450
1  0.00000  0.000000  0.000000  0.000000  0.000000  0.045058
2  0.00000  0.000000  0.000000  0.000000  0.000000  0.028918
3  0.00000  0.000000  0.000000  0.000000  0.000000  0.008070
4  0.00000  0.000000  0.000000  0.000000  0.000000  0.002018

[5 rows x 123 columns]

In [172]:
norm2 = pd.DataFrame(MinMaxScaler(feature_range=(0, 5)).fit_transform(dfn))
print(norm2.head())

    0     1     2     3     4     5     6     7     8     9    ...   113  \
0  0.95  1.65  0.10  4.50  0.60  0.85  1.70  2.35  1.45  1.60  ...  0.60
1  0.00  0.80  0.60  3.70  2.25  0.35  1.30  2.95  1.75  1.35  ...  0.10
2  0.00  2.10  2.45  2.80  0.85  0.20  1.95  2.35  1.40  1.60  ...  0.05
3  0.20  3.85  5.00  0.40  0.60  0.50  2.55  2.50  1.70  1.05  ...  0.10
4  0.05  2.75  0.10  4.75  0.45  0.25  1.90  1.90  1.15  1.80  ...  0.20

    114   115  116  117  118  119  120  121   122
0  1.30  1.00  0.3  0.2  4.5  2.5  1.6  0.7  1.00
1  0.60  2.25  0.0  0.0  0.0  0.0  0.0  0.0  3.35
2  1.05  0.10  0.0  0.0  0.0  0.0  0.0  0.0  2.15
3  1.95  1.40  0.0  0.0  0.0  0.0  0.0  0.0  0.60
4  0.45  0.10  0.0  0.0  0.0  0.0  0.0  0.0  0.15

[5 rows x 123 columns]